.especialidade_title img{ /* mexe com a logo */
    display: block; /* Garante que a imagem seja tratada como bloco */
    margin-left: auto; /* Centraliza horizontalmente */
    margin-right: auto;
    margin-bottom: 20px;
    margin-top: 250px;
    text-align: center;
  }
  .especialidade_title h1{ /* mexe com o h1  */
    text-align: center;
    font-size: 40px;
  
  }
  .especialidade_boby{ /* mexe com o paragrafo */
    width: 1000px; /* Define a largura da div para */
    margin: 0 auto;
    padding: 20px;
    font-size: 20px;
    text-align: justify;
  }
  .especialidade_line-div{ /* mexe com a linha que fica abaixo do h1 */
    width: 100%;
    max-width: 15rem;
    height: 0.25rem;
    background-color: #8E1818;
    border-radius: 1rem;
    border-color: #8E1818;
    margin-left: auto;
    margin-right: auto;
  }


@media screen and (max-width: 1200px){
    .especialidade_boby{ /* mexe com o paragrafo */
        width: 800px; /* Define a largura da div para */
      }
}
@media screen and (max-width: 950px){
    .especialidade_boby{ /* mexe com o paragrafo */
        width: 500px; /* Define a largura da div para */
      }
}
@media screen and (max-width: 550px){
    .especialidade_boby{ /* mexe com o paragrafo */
        width: 400px; /* Define a largura da div para */
      }
}