*{
  margin: 0px;
  padding: 0px;
}
body{
  font-family: Arial;
}
header{
  top: 10px;
    padding: 10px; /* Espaçamento interno */
    backdrop-filter: blur(10px); /* Aplicação de desfoque */
  z-index: -1;
  padding: 10px 20px;
  

  background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
  
    position: fixed;
    top: 0;
    
    width: 100%;
}
.navebar{
  height: 60px; /* Define a altura da navbar */
  padding: 5px;
  display: flex;

  justify-content: space-between;
  align-items: center;
}
.logo{
  position: relative;
  width: 50px; 
    height: auto; 
  right: 20px;
  transform: scale(0.8);
  margin-top: -30px;
top: 0px;
}
.button{
  font-weight: bold;
  align-items: center;
  display: inline-block;
  padding: 5px 10px;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  margin-right: 15px;
  margin: 0px;
  
}
.button:hover{
  border-bottom: 2px solid #8E1818;
  color: #8E1818;
}


.tema-claro {
  background-color: #fff;
  color: #000;
}

.tema-escuro {
  background-color: #211c1c;
  color: #fff;
}
.mySlides {
  display: none;
  img{
    width: 80px; 
    height: 1000px; 
  }
}
#alternar-tema {
  
  top: relative;
  width: -15px;
  font-size: 30px;
    padding: 20px 20px; /* Define o preenchimento interno do botão */
    border: none; /* Remove a borda padrão do botão */
    cursor: pointer; /* Muda o cursor ao passar sobre o botão */
    transition: background-color 0.3s, color 0.3s; /* Adiciona uma transição suave ao alterar as cores */
  height: -15px;
  color: rgb(56, 48, 48);
  border-radius: 20px;
  margin: 10px;
}
.fade {
  animation-name: fade;
  animation-duration: 3s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* Estilos para os botões de navegação */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}


.slideshow{
  position: relative;
  z-index: 1;
}
.convenio{
  width: 200px;
  height: 100px;
}
.logo-container{
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
  margin-left: 20px;
  position: relative;
  top: 100px;
  background-color: #ccc;
  border-radius: 25px;
  padding: 25px;
  display: inline-block;
}
.pc {
  text-align: center;
  font-size: large;

}
.pcz {
  text-align: center;
  font-size: small;
}
.button.ativo {
  background-color: red; /* Cor de fundo quando o link está ativo */
}
.ca {
  width: 50%;
  margin-top: 0px;
  height: 150%;
right: 60px;
  margin-right: -170px;
}

.especialidade_title img{ /* mexe com a logo */
  display: block; /* Garante que a imagem seja tratada como bloco */
  margin-left: auto; /* Centraliza horizontalmente */
  margin-right: auto;
  margin-bottom: 40px;
  margin-top: 250px;
  text-align: center;
}
.especialidade_title h1{ /* mexe com o h1  */
  text-align: center;
  font-size: 40px;

}
.especialidade_boby{ /* mexe com o paragrafo */
  width: 1150px; /* Define a largura da div para */
  margin: 0 auto;
  padding: 20px;
  font-size: 20px;
  text-align: justify;
}
.especialidade_line-div{ /* mexe com a linha que fica abaixo do h1 */
  width: 100%;
  max-width: 15rem;
  height: 0.25rem;
  background-color: #8E1818;
  border-radius: 1rem;
  border-color: #8E1818;
  margin-left: auto;
  margin-right: auto;
}