@media only screen and (min-width: 1024px) {
*{
  margin: 0px;
  padding: 0px;
}
body{
  font-family: Arial;
}
.barrinha-topo {
  height: 10%; 
  margin-top: -10px;
  padding: 5px;
  background-color: #8E1818;
  width: 100%;
  align-items: center;
  margin-left: -20px;
}
header{
  
    padding: 5px; /* Espaçamento interno */
    backdrop-filter: blur(10px); /* Aplicação de desfoque */
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    position: fixed;
    top: 0;
    width: 100%;
}
.navebar{
  height: 40px; /* Define a altura da navbar */
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo{
  position: relative;
  width: 50px; 
    height: auto; 
  right: 20px;
  transform: scale(0.8);
  margin-top: -30px;
top: 0px;
}
.button{
  font-weight: bold;
  align-items: center;
  display: inline-block;
  padding: 5px;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  margin-right: 10px;
  margin: 0px;
}
.button:hover{
  border-bottom: 2px solid #8E1818;
  color: #8E1818;
}
.tema-claro {
  background-color: #fff;
  color: #000;
}
.tema-escuro {
  background-color: #211c1c;
  color: #fff;
}
.mySlides {
  display: none;
  img{
    width: 80px; 
    height: 700px; 
  }
}
#alternar-tema {
  
  top: relative;
  width: -15px;
  font-size: 30px;
    padding: 15px 15px; /* Define o preenchimento interno do botão */
    border: none; /* Remove a borda padrão do botão */
    cursor: pointer; /* Muda o cursor ao passar sobre o botão */
    transition: background-color 0.3s, color 0.3s; /* Adiciona uma transição suave ao alterar as cores */
  height: -15px;
  color: rgb(56, 48, 48);
  border-radius: 30px;
  margin: 0px;
}
.fade {
  animation-name: fade;
  animation-duration: 5s;
}

@keyframes fade {
  from {opacity: 2}
  to {opacity: 2}
}

/* Estilos para os botões de navegação */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}


.slideshow-container{
  position: relative;
  top: 30px;
  z-index: 1;
}
.pc {
  text-align: center;
  font-size: large;

}
.pcz {
  text-align: center;
  font-size: small;
}
.button.ativo {
  background-color: red; /* Cor de fundo quando o link está ativo */
}
pp {
  color: red;
  text-decoration: none;
  border-radius: 5px;
  padding: 5px;
  background-color: white;
}
.destaque1 {
  height: 200px;
  width: 200px;

}
.sidebar {
  height: 0px;
  width: 0px;
  z-index: -9999;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  padding: -10px;
    opacity: 0;
  
}
.logo2 {
  width: 0px;
  height: 0px;
  opacity: 0;
}
}
@media only screen and (max-width: 768px) {
  .navebar {
    position: fixed;
    top: 0px;
    margin-left: -300px;
    width: 250px;
    height: 100%;
    transition: left 0.3s ease;
    backdrop-filter: blur(30px); /* Aplicação de desfoque */
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .button {
    padding: 20px;
  }
  .sidebar {
    position: fixed;
    top: 10px;
    right: -30px;
    width: 320px;
    height: 30px;
    background-color: #8E1818;
    color: white;
    border-radius: 20px;
    font-size: 18px;
    text-align: end;
  }
  .navebar.open {
    left: 250px;
  }
  .barrinha-topo {
    height: 10%; 
    margin-top: -10px;
    padding: 5px;
    background-color: #8E1818;
    width: 160%;
    align-items: center;
    margin-right: 0px;
    margin-left: -15px;
  }
  .logo {
    
    height: auto;
    transform: scale(0.0);
    
  }
  .slideshow-container {
    position: relative;
    top: 30px;
    z-index: -1;
  }
  .mySlides img {
    width: 10000px;
    height: 120px;
  }
  .logo2 {
    margin-top: -40px;
    width: 365px;
    margin-left: 10px;
  }
  #alternar-tema {
    top: 0px;
  width: -15px;
  font-size: 30px;
    padding: 10px 10px; /* Define o preenchimento interno do botão */
    border: none; /* Remove a borda padrão do botão */
    cursor: pointer; /* Muda o cursor ao passar sobre o botão */
    transition: background-color 0.3s, color 0.3s; /* Adiciona uma transição suave ao alterar as cores */
  height: -15px;
  color: rgb(56, 48, 48);
  border-radius: 30px;
  margin: 0px;
  }
}
