body{
    background-image: url(../images/convenios_background.jpg);/* background da página */
    background-repeat: no-repeat;
    background-size: cover;
}
.logo-container{ /* caixa cinza que redireciona para os sites dos convenios */
  margin-top: 10px;
  margin-bottom: 20px;
  margin-right: 20px;
  margin-left: 20px;
  position: relative;
  top: 100px;
  background-color: #ccc;
  border-radius: 25px;
  padding: 25px;
  display: inline-block;
}
.convenio{ /* imagem que fica dentro da logo-container */
  width: 200px;
  height: 100px;
  
}
.conveniodiv{ /* div invisivel que centraliza e ordena os convenios */
  margin: 0 auto;
  margin-top: 60px;
  background-color: rgba(0, 0, 0, 0.3);
  justify-content: center;
  width: 882px;
  height: 750px;
  border-radius: 15px;
}
