body {
    background-image: url(../img/zback.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
    margin: 150px 0;
}

h1 {
    margin: 10px 0px 0px 0px;
    padding: 0px;
    color: white;
}

h2 {
    margin: 0px;
    padding: 0px;
    color: #686767;
}

p {
    text-align: center;
    color: white;
}

.tamanho-da-fonte {
    font-size: 18px;
}

.espacamento {
    margin-bottom: 15px;
}

.card {
    width: 300px;
    height: 350px;
    perspective: 1000px;
    cursor: pointer;
    padding: 20px;
}

.card img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.modificacao-do-card {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.5s;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.card:hover .modificacao-do-card {
    transform: rotateY(180deg);
}

.estilo-do-card {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid #cccccc;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);
}

.conteudo-do-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    margin: 20px 0px 0px 0px;
    padding: 20px;
}

.frente-do-card {
    transform: rotateY(0deg);
}

.verso-do-card {
    display: flex;
    transform: rotateY(180deg);
}


/* Remove a barra de rolagem do navegador. */
::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

@media screen and (max-height: 600px) {
    body {
        margin: 100px 0;
    }
}

@media screen and (max-height: 490px) {
    body {
        margin: 65px 0;
    }
}

@media screen and (max-height: 440px) {
    body {
        margin: 50px 0;
    }
}