body {
    background-image: url(../images/home-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.sub {
    top: 140px;
    position: absolute;
    justify-content: center;
    width: 95%;
    margin-left: 2.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 0;
    flex-wrap: wrap;
}

.medico {
    text-align: center;
    background-color: white;
    padding: 30px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 20px;
    border-radius: 25px;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.5);
}

.back {
    top: 5px;
    right: 0px;
    position: absolute;
    z-index: -1;
    width: 85%;
    height: 120px;
}


img {
    width: 200px;
    height: 200px;
}

.inf {
    margin-left: 200px;
}

